
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
// body {
//   position: fixed;
// }
#app{
  width: 1280px;
  padding: 0;

}
#welcomeVid {
    width: 100%;
    height: 725px;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}

.overlay {
    position: fixed;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    height: 725px;
    width: 100%;
    z-index: 1;
    .overlay-content {
      width: 60%;
      margin: 290px auto;

      p {
        font-family: 'Oswald', sans-serif;
        color: #FFF;
        margin-bottom: 55px;

      }
      .first {
        text-align: center;
        font-size: 100px;
      }
      .second {
        font-size: 24px;
        text-align: center;

        &:before{
          content: ". . . . . . . .";
          float: left;
          margin-left: 30%;
          margin-top: -6px;
        }
        &:after{
          content: ". . . . . . . .";
          float: right;
          margin-right: 30%;
          margin-top: -6px;
        }

      }
      .welcome {
        margin-top: 200px;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        color: #FFF;

        a {
          color: #FFF;
          font-size: 24px;
          text-decoration: none;
          margin-right: 5px;

        }
      }
    }
}


.header-top {
  .header-top-contents {
    height: 50px;
    margin: 0 auto;
    width: 87%;
    .title {
      display: inherit;
      text-align: center;
      font-size: 38px;
      margin-top: 15px;
     font-family: 'Oswald', sans-serif;

    }
  }//end of header-top-contents
}//end of header-top
#fluid {
  padding: 0;
}
.header-bottom {

  background: url("https://pixabay.com/get/e03db90c2ef01c22d2524518a33219c8b66ae3d11cb912409df6c570/taxi-988364_1280.jpg")fixed center;
  height: 300px;
  width: 100%;
  position: relative;

}
.header-overlay {
  height: 300px;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 1;
}
  .header-bottom-contents {
    padding: 0;
    width: 87%;
    margin-left: 80px;
    color: #FFF;

}
#orders {
  #order-title {
    margin-left: 43%;
    margin-bottom: 30px;
    color: #4399E1;
  }
  #order-heading {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    span:nth-child(2){
      float: right;
      margin-right: 76px;
    }
  }
  button {
    margin-left: 130px;
    margin-top: 60px;
  }
}
#order-lists {
  height: 53px;
  .price-selection {
    float: right;
    button{
      margin-top: -3px;
    }
  }
  input {
    width: 39px;
    height: 27px;
    margin-top: 1px;

  }
}
  .orders-list {
    list-style: none;
    padding-top: 10px;
     div {
       margin-top: 15px;
     }
    .order-price {
      float: right;
      margin-right: 48px;
    }
    input {
      float: right;
      height: 25px;
      width: 25px;
    }
  }
