
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
body {
  width: 1280px;
}
#app{

  width: 1280px;
  padding: 0;

}
////////////////////////////////////WELCOME PAGE////////////////////////////////


.first-el {
  margin: 0;
  height: 500px;
  width: 100%;
  border: 1px solid black;
  .welcome-body {
    color: black;
    margin-top: 144px;
    margin-left: 405px;
  }
}

.welcome-nav {
  float: right;
}
.second-el {
  .address {
    margin-left: 15px;
    margin-bottom: 10px;
    span {
      margin-left: 15px;
    }
  }
  .telephone {
    margin-left: 15px;
    span {
      margin-left: 15px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.header-top {
  .header-top-contents {
    height: 50px;
    margin: 0 auto;
    width: 87%;
    .title {
      display: inherit;
      text-align: center;
      font-size: 38px;
      margin-top: 15px;
     font-family: 'Oswald', sans-serif;

    }
  }//end of header-top-contents
}//end of header-top
#fluid {
  padding: 0;
}
.header-bottom {

  background: url("./../images/backgroundres.jpg")fixed center;
  height: 500px;
  width: 100%;
  position: relative;

}
.header-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.header-bottom-contents {
  position: relative;
  margin-top: 80px;
  color: #FFF;
}
#orders {
  #order-title {
    margin-left: 43%;
    margin-bottom: 30px;
    color: #4399E1;
  }
  #order-heading {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    span:nth-child(2){
      float: right;
      margin-right: 76px;
    }
  }
  button {
    margin-left: 130px;
    margin-top: 60px;
  }
}
#order-lists {
  height: 53px;
  .price-selection {
    float: right;
    button{
      margin-top: -2px;
    }
  }
  input {
    width: 50px;
    height: 27px;
    margin-top: 1px;
    margin-right: 45px;
    float: right;
  }
}
  .orders-list {
    list-style: none;
    padding-top: 10px;
     div {
       margin-top: 15px;
     }
    .order-price {
      float: right;
      margin-right: 48px;
    }
    input {
      float: right;
      height: 25px;
      width: 25px;
    }
  }

/////////MODAL INFO/////////////////
.order-info {
    .order-information {
      height: 50px;
      background-color: #E2CACA;
      margin-top: 0;
      margin-bottom: 20px;
      padding-left: 120px;
      padding-top: 5px;
    }
    .order-total {
      color: #65DC8D;
      margin-top: 59px;
      margin-left: 97px;
    }
    .gratitude {
      margin-top: 20px;
      margin-left: 120px;
      margin-top: 45px;
    }
    button {
      margin-top: 5px;
      margin-left: 170px;
    }
}
