
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
body {
  background-color: #DED6DA;
}
#app{
  padding: 0;
}


////////////////////////////////////WELCOME PAGE////////////////////////////////


.first-el {
  background-image:   url('http://41.media.tumblr.com/ce2e0838a37e227525f4f0b4a489ab33/tumblr_mp090bHl351qft0roo1_1280.jpg');
  background-position: 0;
  margin: 0;
  height: 500px;
  background-color: black;
  opacity: 0.7;
}

.welcome-body {
  color: #FFF;
  h4, h1 {
    margin: 0;
  }

  // margin-top: 145px;
  // margin-left: 450px;
}
.welcome-nav {
  // float: right;
  margin-top: 320px;

  .button {
  border-radius: 4px;
  background-color: #8B2089;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 19px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

}



.second-el {
  margin: 0;
  section {
    border: 6px solid black;
    height: 290px;
    padding-bottom: 5px;
    h2 {
      margin-top: 12px;
    }
  }
  .address {
    margin-left: 15px;
    margin-bottom: 10px;
    span {
      margin-left: 15px;
    }
  }
  .telephone {
    margin-left: 15px;
    span {
      margin-left: 15px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.header-top {
  .header-top-contents {
    height: 50px;
    margin: 0 auto;
    width: 87%;
    .title {
      display: inherit;
      text-align: center;
      font-size: 38px;
      margin-top: 15px;
     font-family: 'Oswald', sans-serif;

    }
  }//end of header-top-contents
}//end of header-top
#fluid {
  padding: 0;
}
.header-bottom {

  background: url("./../images/backgroundres.jpg")fixed center;
  height: 500px;
  width: 100%;
  position: relative;

}
.header-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.header-bottom-contents {
  position: relative;
  margin-top: 80px;
  color: #FFF;
}
#orders {
  #order-title {
    margin-left: 43%;
    margin-bottom: 30px;
    color: #4399E1;
  }
  #order-heading {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    span:nth-child(2){
      float: right;
      margin-right: 76px;
    }
  }
  button {
    margin-left: 130px;
    margin-top: 60px;
  }
}
#order-lists {
  height: 53px;
  .price-selection {
    float: right;
    button{
      margin-top: -2px;
    }
  }
  input {
    width: 50px;
    height: 27px;
    margin-top: 1px;
    margin-right: 45px;
    float: right;
  }
}
  .orders-list {
    list-style: none;
    padding-top: 10px;
     div {
       margin-top: 15px;
     }
    .order-price {
      float: right;
      margin-right: 48px;
    }
    input {
      float: right;
      height: 25px;
      width: 25px;
    }
  }

/////////MODAL INFO/////////////////
.order-info {
    .order-information {
      height: 50px;
      background-color: #E2CACA;
      margin-top: 0;
      margin-bottom: 20px;
      padding-left: 120px;
      padding-top: 5px;
    }
    .order-total {
      color: #65DC8D;
      margin-top: 59px;
      margin-left: 97px;
    }
    .gratitude {
      margin-top: 20px;
      margin-left: 120px;
      margin-top: 45px;
    }
    button {
      margin-top: 5px;
      margin-left: 170px;
    }
}
